# Dependencias
/node_modules
/.pnp
.pnp.js

# Pruebas
/coverage

# Next.js
/.next/
/out/

# Producción
/build

# Sistema
.DS_Store
*.pem
Thumbs.db

# Depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts
